<div class="container mt-1">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/about-us"> <button class="btn m-1 p-2">About US</button></a>
           </li>
          <li class="nav-item">
           <a routerLink="/"> <button class="btn m-1 p-2">Our Cuisine</button></a>
          </li>
          <li class="nav-item">
            <a routerLink="/appetizers"> <button class="btn m-1 p-2">Our Appetizers</button></a>
           </li>
           <li class="nav-item">
            <a routerLink="/dishes"> <button class="btn m-1 p-2">Our Dishes</button></a>
           </li>
          <li class="nav-item">
           <a routerLink="/burger"> <button class="btn m-1 p-2">Our Desserts</button></a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
                <button id="btnGroupDrop1" type="button" class="btn m-1 p-2 dropdown-toggle m-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-door-open-fill"></i> Reserve
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
                  <li><a class="dropdown-item" routerLink="/register"><i class="bi bi-person-plus"></i> Register</a></li>
                </ul>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>
