<!-- about-us.component.html -->
<div class="container mt-5 text-center">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="display-4 mb-4 animate__animated animate__fadeIn">Welcome to DIARRI</h1>
        <p class="lead animate__animated animate__fadeIn">
          Elevate your culinary journey with DIARRI—a platform for passionate restaurant owners.
        </p>
        <p class="animate__animated animate__fadeIn">
          Showcase your dishes, attract food lovers, and join a community of gastronomic enthusiasts.
        </p>
        <p class="animate__animated animate__fadeIn">
          Your delectable creations deserve the spotlight. Let's celebrate the love of food together.
        </p>
        <p class="animate__animated animate__fadeIn">
          Thank you for choosing DIARRI as your partner in sharing the joy of food. Bon appétit!
        </p>
      </div>
    </div>
  </div>
  